h1 {
    color: black;
    text-align: center;
    font-size: 80px;
    padding-top: 200px;
    font-family: 'Calligraffitti', cursive;
}
header {
    height: 600px;
    width: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    background-image: url('https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=1260');
} 
p{
    color: black;
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    letter-spacing: 4px;
    font-family: 'Josefin Sans', sans-serif;

}