h1 {
    color: rgb(0, 0, 0);
    margin-left: 350px;
    font-size: 90px;
    padding-top: 200px;
    font-family: 'Calligraffitti', cursive;
    font-weight: 200;

}

header {
    height: 600px;
    width: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    background-image: url('https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=1260');
} 
.p{
    margin-left: 470px;
    color: black;
   
    font-size: 40px;
   
    letter-spacing: 4px;
   
    font-weight: 5;
    padding-top: 50px;

}
.line{
         width: 800px;
       
        margin-top: 20px;
        margin-left: 240px;


        border-color: black; 
        
}
.col-md-5{
    border-right-color: black;

}
footer{
    background-color: black;
    height: 400px;
    width: 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
strong{
    font-weight: 25;
    margin-left: 500px;
    font-size: 35px;
    margin-top: 150px;
    margin-top: 70px;
    font-family: 'Calligraffitti', cursive;
}
p{
    margin-left: 300px;
   
    margin-right: 200px;
    color: black;
   
    font-size: 25px;
   
    letter-spacing: 2px;
   
    font-weight: 5;
   

}

